# Byte-compiled / optimized / DLL files
__pycache__

# Jupyter Notebook
*.ipynb_checkpoints

# virtualenv
venv/

# editor, os cache directory
.vscode/
.DS_Store

# data, saved models
saved
dataset/myAudioDataset
dataset/textureDataset